.App {
  text-align: center;
}

.container {
  margin: 40px;
}

.submit-link {
  text-align: center;
}

.plus-icon {
  font-size: 50px;
  line-height: 15px;
  float: right;
}

.link-vote {
  float: left;
  height: 100px;
  width: 100px;
  line-height: 60px;
  text-align: center;
}

.vote-number {
  font-size: 35px;
}

.vote {
  margin-top: 20px;
}

.down-vote {
  float: right;
}

ul {
  list-style: none;
}

.link-list {
  height: 150px;
  width: 400px;
  border: 1px solid;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}
form {
  margin-right: 100px;
  margin-left: 100px;
}
.add {
  float: right;
}

.dropdown {
  text-align: center
}

.link-name{
  float: left;
  height: 150px;
  width: 280px;
}

.remove {
  font-size: 18px;
}

.add-link {
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
